body {
  margin: 0;
  letter-spacing: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  line-height: 30px;
}

h1, h2 {
  line-height: 62px;
  color: white;
  font-weight: 600;
}

h1 {
  letter-spacing: 1px;
  font-size: 52px;
}

h2 {
  font-size: 42px;
  text-align: center;
}

body > div {
  border-bottom: 1px dashed #EFEFEF;
}

a.button {
  padding: 15px 60px 15px 60px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.big-screen {
  min-height: 650px;
}

@media (max-width: 600px) {
  body > div {
    display: inline-block;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .left-mobile {
    margin-left: 30px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 700px;
  }
}
div#block1 {
  background-color: #e84e4c;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
div#block1 .container .info {
  width: 580px;
}
div#block1 .container .info h1 {
  margin-bottom: 60px;
}
div#block1 .container .info small {
  line-height: 120%;
  font-size: 52px;
  font-weight: 600;
  color: #4A4A4A;
}
div#block1 .container .info .description {
  color: white;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  margin-bottom: 60px;
}
div#block1 .container .info a.button {
  color: #4A4A4A;
  background: white;
}

@media (max-width: 768px) {
  div#block1 {
    background-image: none;
  }
}
@media (min-width: 768px) {
  div#block1 {
    background-image: url("img/bg.jpg");
    background-position: right top;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
div#block2 .container {
  min-height: 350px;
}
div#block2 .container .card img {
  margin-bottom: 25px;
}
div#block2 .container .card .tag {
  color: #4A4A4A;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  div#block2 .card {
    width: 28%;
  }
}
@media (min-width: 1024px) {
  .big-cards {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .big-cards {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.big-cards {
  display: flex;
}
.big-cards .card {
  text-align: center;
  font-size: 18px;
  color: #4A4A4A;
}
.big-cards .card img {
  height: 150px;
  width: 150px;
}

div#block3 {
  line-height: 45px;
  font-size: 30px;
}
div#block3 .info {
  padding-left: 20px;
  padding-bottom: 100px;
}

div#block4 {
  background-color: #e84e4c;
}
div#block4 .container {
  min-height: 100vh;
}
div#block4 .container .info {
  display: flex;
  color: white;
}
div#block4 .container .info img.picture {
  height: 550px;
  width: 550px;
}
div#block4 .container .info ul {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
}
div#block4 .container .info ul li {
  display: flex;
  padding-bottom: 50px;
}
div#block4 .container .info ul li span {
  max-width: 500px;
  margin-right: 35px;
}
div#block4 .container .info ul li img {
  height: 100px;
  padding-right: 30px;
}

@media (max-width: 1280px) {
  div#block4 .info {
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  div#block4 .container {
    padding-top: 2vh;
  }
  div#block4 .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div#block4 img.picture {
    order: -1;
    width: 50%;
    height: 50%;
    margin: auto;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  div#block5 .card {
    width: 42%;
  }
}
div#block5 {
  font-weight: 600;
}
div#block5 h2 {
  color: #4A4A4A;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  text-align: center;
  font-size: 18px;
  color: #4A4A4A;
}
.cards .card img {
  height: 150px;
  width: 150px;
}

div#block6 {
  background-color: #EFEFEF;
}
div#block6 h2 {
  margin-top: 0;
  color: #4A4A4A;
}
div#block6 .hr-line {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 3px;
  color: #4A4A4A;
  background-color: #4A4A4A;
}
div#block6 h3 {
  padding-top: 15px;
  padding-bottom: 20px;
  width: auto;
  margin: auto;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
}
div#block6 h4 {
  color: #e84e4c;
  margin-top: 0;
  margin-bottom: 0;
}
div#block6 .card {
  background-color: white;
  text-align: left;
}
div#block6 .card .tag {
  font-weight: 600;
  font-size: 14px;
}
div#block6 .card p {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
}
div#block6 div.cards:first-of-type {
  padding-bottom: 20px;
}
div#block6 a.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: white;
  background: #e84e4c;
}

@media (min-width: 1280px) {
  div#block6 .cards .card {
    width: 320px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  div#block6 .cards .card {
    width: 240px;
  }
}
@media (min-width: 1024px) {
  div#block6 .cards .card {
    margin: 10px 10px 20px 10px;
    padding: 30px 30px 50px 30px;
  }
}
@media (max-width: 1024px) {
  div#block6 .cards {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  div#block6 .cards div.card {
    width: 600px;
    margin: 20px 20px 0 20px;
    padding: 30px 30px 20px 30px;
  }
}
div#block7 h2 {
  color: #e84e4c;
}
div#block7 .card {
  background-color: #EFEFEF;
  padding: 30px 30px 50px 30px;
  margin: 20px 20px 30px 20px;
  max-width: 500px;
  text-align: left;
}
div#block7 .card p {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 0;
}
div#block7 .card img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
div#block7 .card .person {
  display: inline-block;
}
div#block7 .card .tag {
  text-align: center;
  color: #e84e4c;
}

@media (max-width: 1024px) {
  div#block7 .cards {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  div#block7 .card {
    max-width: 380px;
    margin: 10px 10px 20px 10px;
  }
}
div#block8 .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
div#block8 .hr-line {
  width: 50px;
  height: 3px;
  color: #4A4A4A;
  background-color: #4A4A4A;
}
div#block8 h3 {
  color: #4A4A4A;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 0px;
}
div#block8 .cards {
  justify-content: space-around;
  align-items: center;
}
div#block8 .card h3, div#block8 .card p, div#block8 .card ul li {
  text-align: left !important;
}
div#block8 li {
  font-size: 18px;
  line-height: 25px;
}
div#block8 ul {
  padding-left: 20px;
}
div#block8 a {
  color: #e84e4c;
  text-decoration: none;
}

@media (max-width: 1024px) {
  div#block8 img {
    width: 640px;
    height: 640px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  div#block8 .card {
    width: 400px;
  }
  div#block8 img {
    width: 460px;
    height: 460px;
  }
}
@media (min-width: 1280px) {
  div#block8 .card {
    width: 500px;
  }
  div#block8 img {
    width: 560px;
    height: 560px;
  }
}
@media (max-width: 1024px) {
  div#block8 .card {
    width: 100%;
  }
}
div#block9 {
  background-color: #EFEFEF;
}
div#block9 h2 {
  color: #4A4A4A;
}
div#block9 .cards .card h3 {
  color: #e84e4c;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
}
div#block9 input, div#block9 input:focus, div#block9 textarea, div#block9 textarea:focus {
  display: block;
  border-bottom: 2px solid #4A4A4A;
  width: 460px;
  background-color: #EFEFEF;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 30px;
  font-size: 16px;
}
div#block9 input {
  height: 58px;
}
div#block9 textarea {
  height: 147px;
  font-family: "Roboto", "Arial", "sans-serif";
}
div#block9 a.button {
  color: white;
  background: #e84e4c;
}
div#block9 div.calculator {
  text-align: left;
}
div#block9 div.calculator input {
  height: 20px;
  width: 20px;
  margin-top: 0;
  display: inline-block;
}
div#block9 div.calculator .line:nth-child(2n) {
  margin-left: 25px;
}
div#block9 div.calculator .total {
  font-size: 24px;
}
div#block9 div.calculator .bold {
  font-weight: 600;
}

@media (min-width: 1280px) {
  div#block9 .cards {
    justify-content: space-around;
  }
  div#block9 .cards .card {
    width: 500px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  div#block9 .cards {
    justify-content: space-around;
  }
  div#block9 .cards .card {
    width: 450px;
  }
}
@media (max-width: 1024px) {
  div#block9 .cards {
    flex-direction: column;
    justify-content: center;
  }
  div#block9 .cards .card {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
