$red-color: #e84e4c;
$grey-color: #4A4A4A;
$light-grey-color: #EFEFEF;

body {
    margin: 0;
    letter-spacing: 0;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    line-height: 30px;
}

h1, h2 {
    line-height: 62px;
    color: white;
    font-weight: 600;
}

h1 {
    letter-spacing: 1px;
    font-size: 52px;
}

h2 {
    font-size: 42px;
    text-align: center;
}

body > div {
    border-bottom: 1px dashed $light-grey-color;
}

a.button {
    padding: 15px 60px 15px 60px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.big-screen {
    min-height: 650px;
}

@media (max-width: 600px) {
    body > div {
        display: inline-block;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .left-mobile {
        margin-left: 30px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 700px;
    }
}

div#block1 {
    background-color: $red-color;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

    .container {
        .info {
            width: 580px;

            h1 {
                margin-bottom: 60px;
            }

            small {
                line-height: 120%;
                font-size: 52px;
                font-weight: 600;
                color: $grey-color;
            }

            .description {
                color: white;
                font-weight: 400;
                font-size: 26px;
                line-height: 150%;
                margin-bottom: 60px;
            }

            a.button {
                color: $grey-color;
                background: white;
            }
        }
    }
}

@media (max-width: 768px) {
    div#block1 {
        background-image: none;
    }
}

@media (min-width: 768px) {
    div#block1 {
        background-image: url("img/bg.jpg");
        background-position: right top;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

div#block2 {
    .container {
        min-height: 350px;

        .card {
            img {
                margin-bottom: 25px;
            }

            .tag {
                color: $grey-color;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 40px;
            }
        }
    }
}

@media (min-width: 1024px) {
    div#block2 .card {
        width: 28%;
    }
}

@media (min-width: 1024px) {
    .big-cards {
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .big-cards {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.big-cards {
    display: flex;

    .card {
        text-align: center;
        font-size: 18px;
        color: $grey-color;

        img {
            height: 150px;
            width: 150px;
        }
    }
}

div#block3 {
    line-height: 45px;
    font-size: 30px;

    .info {
        padding-left: 20px;
        padding-bottom: 100px;
    }
}

div#block4 {
    background-color: $red-color;

    .container {
        min-height: 100vh;

        .info {
            display: flex;
            color: white;

            img.picture {
                height: 550px;
                width: 550px;
            }

            ul {
                list-style-type: none;
                font-weight: 400;
                font-size: 18px;

                li {
                    display: flex;
                    padding-bottom: 50px;

                    span {
                        max-width: 500px;
                        margin-right: 35px;
                    }

                    img {
                        height: 100px;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    div#block4 .info {
        justify-content: flex-start;
    }
}

@media (max-width: 1024px) {
    div#block4 {
        .container {
            padding-top: 2vh;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        img.picture {
            order: -1;
            width: 50%;
            height: 50%;
            margin: auto;
            padding-bottom: 30px;
        }
    }
}

@media (min-width: 1024px) {
    div#block5 .card {
        width: 42%;
    }
}

div#block5 {
    h2 {
        color: $grey-color;
    }

    font-weight: 600;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        text-align: center;
        font-size: 18px;
        color: $grey-color;

        img {
            height: 150px;
            width: 150px;
        }
    }
}

div#block6 {
    background-color: $light-grey-color;

    h2 {
        margin-top: 0;
        color: $grey-color;
    }

    .hr-line {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 3px;
        color: $grey-color;
        background-color: $grey-color;
    }

    h3 {
        padding-top: 15px;
        padding-bottom: 20px;
        width: auto;
        margin: auto;
        font-size: 28px;
        text-align: center;
        font-weight: 300;
    }

    h4 {
        color: $red-color;
        margin-top: 0;
        margin-bottom: 0;
    }

    .card {
        background-color: white;
        text-align: left;

        .tag {
            font-weight: 600;
            font-size: 14px;
        }

        p {
            font-size: 16px;
            line-height: 1.55;
            font-weight: 400;
        }
    }

    div.cards:first-of-type {
        padding-bottom: 20px;
    }

    a.button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        color: white;
        background: $red-color;
    }
}

@media (min-width: 1280px) {
    div#block6 .cards .card {
        width: 320px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    div#block6 .cards .card {
        width: 240px;
    }
}

@media (min-width: 1024px) {
    div#block6 .cards .card {
        margin: 10px 10px 20px 10px;
        padding: 30px 30px 50px 30px;
    }
}

@media (max-width: 1024px) {
    div#block6 .cards {
        flex-direction: column;
        flex-wrap: nowrap;

        div.card {
            width: 600px;
            margin: 20px 20px 0 20px;
            padding: 30px 30px 20px 30px;
        }
    }
}

div#block7 {
    h2 {
        color: $red-color;
    }

    .card {
        background-color: $light-grey-color;
        padding: 30px 30px 50px 30px;
        margin: 20px 20px 30px 20px;
        max-width: 500px;
        text-align: left;

        p {
            font-size: 16px;
            line-height: 1.55;
            font-weight: 400;
            margin-top: 0;
        }

        img {
            width: 80px;
            height: 80px;
            border-radius: 50px;
        }

        .person {
            display: inline-block;

        }

        .tag {
            text-align: center;
            color: $red-color;
        }
    }
}

@media (max-width: 1024px) {
    div#block7 .cards {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    div#block7 .card {
        max-width: 380px;
        margin: 10px 10px 20px 10px;
    }
}

div#block8 {
    .container {
        padding-top: 100px;
        padding-bottom: 100px;

    }

    .hr-line {
        width: 50px;
        height: 3px;
        color: $grey-color;
        background-color: $grey-color;
    }

    h3 {
        color: $grey-color;
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 0px;
    }

    .cards {
        justify-content: space-around;
        align-items: center;
    }

    .card {
        h3, p, ul li {
            text-align: left !important;
        }
    }

    li {
        font-size: 18px;
        line-height: 25px;
    }

    ul {
        padding-left: 20px;
    }

    a {
        color: $red-color;
        text-decoration: none;
    }
}

@media (max-width: 1024px) {
    div#block8 img {
        width: 640px;
        height: 640px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    div#block8 {
        .card {
            width: 400px;
        }

        img {
            width: 460px;
            height: 460px;
        }
    }
}

@media (min-width: 1280px) {
    div#block8 {
        .card {
            width: 500px;
        }

        img {
            width: 560px;
            height: 560px;
        }
    }
}

@media (max-width: 1024px) {
    div#block8 .card {
        width: 100%;
    }
}

div#block9 {
    background-color: $light-grey-color;

    h2 {
        color: $grey-color;
    }

    .cards .card h3 {
        color: $red-color;
        text-align: left;
        font-weight: 700;
        font-size: 24px;
    }

    input, input:focus, textarea, textarea:focus {
        display: block;
        border-bottom: 2px solid $grey-color;
        width: 460px;
        background-color: $light-grey-color;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        margin-bottom: 30px;
        font-size: 16px;
    }

    input {
        height: 58px;
    }

    textarea {
        height: 147px;
        font-family: 'Roboto', 'Arial', 'sans-serif';
    }

    a.button {
        color: white;
        background: $red-color;
    }

    div.calculator {
        text-align: left;
        input {
            height: 20px;
            width: 20px;
            margin-top: 0;
            display: inline-block;
        }
        .line:nth-child(2n) {
            margin-left : 25px;
        }
        .total {
            font-size: 24px;
        }
        .bold {
            font-weight: 600;
        }
    }
}

@media (min-width: 1280px) {
    div#block9 .cards {
        justify-content: space-around;

        .card {
            width: 500px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    div#block9 .cards {
        justify-content: space-around;

        .card {
            width: 450px;
        }
    }
}

@media (max-width: 1024px) {
    div#block9 .cards {
        flex-direction: column;
        justify-content: center;

        .card {
            width: 100%;
        }
    }
}